/* /Pages/Index.razor.rz.scp.css */
.page[b-fq629slddz]{
    background-image: url(images/AIChefBG2.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    height:100%;
    color: var(--bs-light);
    font-size: 1.2rem;
}
.pagestyle[b-fq629slddz]{
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(5px) brightness(40%);
    height:100%;
}

main[b-fq629slddz]{
    flex: 1 0 auto;
}
footer[b-fq629slddz]{
    flex-shrink: 0;
}
.landingPage[b-fq629slddz] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
a[b-fq629slddz]{
    color: var(--bs-light);
    text-decoration:none;
}
a:visited[b-fq629slddz]{
    color:var(--bs-light)
}
a:hover[b-fq629slddz]{
    cursor:pointer;
}
/* /Pages/MealRecipe.razor.rz.scp.css */
.recipeImage[b-mqjrlasd90]{
    height:300px;
    width:300px;
}
@media(min-width:992){
    .recipeImage[b-mqjrlasd90]{
        height:450px;
        width:450px;
    }
}
/* /Shared/ChefSpinner.razor.rz.scp.css */
.loader[b-9yv8vs1sbt] {
    color: var(--bs-success);
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6-b-9yv8vs1sbt 1.7s infinite ease, round-b-9yv8vs1sbt 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6-b-9yv8vs1sbt {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%, 95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%, 59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round-b-9yv8vs1sbt {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-an6zkbb68j] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-an6zkbb68j] {
    flex: 1;
}

.sidebar[b-an6zkbb68j] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-an6zkbb68j] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-an6zkbb68j]  a, .top-row[b-an6zkbb68j]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-an6zkbb68j]  a:hover, .top-row[b-an6zkbb68j]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-an6zkbb68j]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-an6zkbb68j] {
        display: none;
    }

    .top-row.auth[b-an6zkbb68j] {
        justify-content: space-between;
    }

    .top-row[b-an6zkbb68j]  a, .top-row[b-an6zkbb68j]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-an6zkbb68j] {
        flex-direction: row;
    }

    .sidebar[b-an6zkbb68j] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-an6zkbb68j] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-an6zkbb68j]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-an6zkbb68j], article[b-an6zkbb68j] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-06j1hkelsq] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-06j1hkelsq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-06j1hkelsq] {
    font-size: 1.1rem;
}

.oi[b-06j1hkelsq] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-06j1hkelsq] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-06j1hkelsq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-06j1hkelsq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-06j1hkelsq]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-06j1hkelsq]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-06j1hkelsq]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-06j1hkelsq] {
        display: none;
    }

    .collapse[b-06j1hkelsq] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-06j1hkelsq] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Shared/TopNavLayout.razor.rz.scp.css */
main[b-erlkn18ygf]{
    flex:1 0 auto;
}
footer[b-erlkn18ygf]{
    flex-shrink:0;
    background-color: var(--bs-success-bg-subtle);
}
/* /Shared/TopNavMenu.razor.rz.scp.css */
.topNavbg[b-9lye8brg5p]{
    background-color: var(--bs-success-bg-subtle);
}
